<%- include('../partials/header') %>
    <header>
        <h1>What should I plant in Texas?</h1>
    </header>
    <h3>Search for Flowers:</h3>
    <form id="search-flowers" action="/flowers" method="GET">  
        <label for="season">Season of Year: </label><select name="season">
            <option value="winter">Winter</option>
            <option value="spring">Spring</option>
            <option value="summer">Summer</option>
            <option value="fall">Fall</option>
        </select>
        <label for="light">Light Exposure: </label><select name="light">
            <option value="full sun">Full Sun</option>
            <option value="partial shade">Partial Shade</option>
            <option value="full shade">Full Shade</option>
        </select>
        <input type="submit" value="Search">
    </form>
    <% flowers.forEach(function(f){ %>
        <div class="flower">
            <div class="flower-img">
                <img src="<%= f.image %>"" alt="flower">
            </div>
            <div class="flower-info">
                <p class="flower-title"><%= f.name %></p>
                <p><span class="flower-label">Season of Year: </span><%= f.season %></p>
                <p><span class="flower-label">Light Exposure: </span><%= f.light %></p>
            </div>
            <div>
                <input type="submit" value="Add to My Flowers">
            </div>
        </div>
    <% }); %>
<%- include('../partials/footer') %>