<%- include('../partials/header') %>
<section id="show-page">
    <div><img src="<%= flower.image %>" alt=""></div>
    <h1><%= flower.name %></h1>
    <div>Season: <%= flower.season %></div>
    <div>Light: <%= flower.light %></div>
  </section>  

<%- include('../partials/footer') %>