<%- include('../partials/header') %>
<h1>My Flowers</h1>
<% user.myFlowers.forEach(function(f, idx){ %>
    <div class="flower">
        <div class="flower-img">
            <img src="<%= f.image %>"" alt="flower">
        </div>
        <div class="flower-info">
            <p class="flower-title"><%= f.name %></p>
            <p><span class="flower-label">Season of Year: </span><%= f.season %></p>
            <p><span class="flower-label">Light Exposure: </span><%= f.light %></p>
        </div>
        <div>
            <form action="/flowers/user/<%= idx %>?_method=DELETE" method="POST">
                <input type="hidden" name="name" value="<%= f.name %>">
                <input type="hidden" name="season" value="<%= f.season %>">
                <input type="hidden" name="light" value="<%= f.light %>">
                <input type="hidden" name="image" value="<%= f.image %>">
                <input type="submit" value="Remove from My Flowers" class="favorite-button">
            </form>
        </div>
    </div>
<% }); %>
<%- include('../partials/footer') %>